* {
    box-sizing: border-box;
}
body {
    font-family:'Roboto', sans-serif;
}
div {
    display: block;
}

.class {
    width: 400px;
    height: 330px;
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;


}
 .class-time .class-year {
    background-color: #ef5321;
}

.class-time {
    text-align: center;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    font-weight: 300px;
    background-color: #fe6d3f;
    width: 400px;
    height: 160px;
}

.class-year,.month {
    font-size: 20px;

} 
.date {
    font-size: 2.5rem;
    line-height: 2.5rem;
   padding-top: 2rem;
 }
 

.class-title a {
    color: #464646;
    text-decoration: none;
    font-size: 1.4rem;
    box-sizing: border-box;
    line-height: 3rem;
    padding-left: 1.3rem;
}
a:hover{
    text-decoration: underline;
}
.timetable {
    line-height: 1.5rem;
    padding-left: 1.3rem;
    font-size: 14px;
    color: #757575;
}
.clear {
  padding-right: 1.3rem;
  color: #c4c4c4e3;

}
.register a {
    color: #3c78e8;
    font-weight: 300px;
    padding-left: 1.3rem;
    text-decoration: none;
   
}

