*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    border-radius: 100px;
    height: 100px;
    width: 100px;
}
body {
    font-family:'Roboto', sans-serif;  
 
    line-height: 35px;
    display: block;
}
#center{
    width: 700px;
    box-shadow:  0 2px 4px  rgb(0 0 0 / 15%);
    border-radius: 4px; 
    position: absolute;
    top: 5%;
    left: 25%;
    

}
.title{
    display: flex;
    line-height: 30px;
    margin: 10px;  
}
#heading p img{
    margin: auto;
    height: 500px;
    width: 400px;
    border-radius: 0px;
}
button{
    background-color: green;
    border: 1px solid red;
    padding: 2px;
    border-radius: 100px;
}
.pading li{
    list-style-type: none;
    margin: 10px;
    padding: 0 10px 0 10px;
    
    }
    span{
        color: rgba(0, 94, 255, 0.859);
    }
    li{
        margin-left: 50px;
           
       }
       .magin{
        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: aliceblue;
    }