* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
   width: 500px;
   

}
    

body {
    font-family: "Roboto", sans-serif;
    background-color: brown;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #757575;
    

}

a {
    text-decoration: none;
    color: #757575;
}

ul {
    list-style-type: none;
}

.title {
    margin-bottom: 20px;
    background-color: rgb(183, 221, 93);
    text-align: center;
    
}


.menu {
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    
}

.menu-item {
    width: 200px;
    /* position: relative; */
}

.menu-item p {
    padding-left: 8px;
    padding-right: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu-item p .icon {
    display: none;
}

.menu-item:hover > p,
.menu-item:hover > p a {
    color: chocolate;
}

.menu-item:hover > p .icon,
.menu-item:hover > p .icon {
    display: inline-block;
    color: chocolate;
}


.sub-menu {
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: aquamarine;
    display: none;
    height: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
}

.menu-item:hover .sub-menu {
    display: block;
}
.sub-menu-item{
    display: none;
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: rgb(255, 127, 219);
    height: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
}
.sub-menu:hover .sub-menu-item {
   display: block;

}
.sub-menu-content{
    display: none;
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: rgb(255, 127, 219);
    height: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
}
.sub-menu:hover .sub-menu-content {
    display: block;
 
 }