* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    

}

ul {
    list-style-type: none;
}

header {
    height: 80px;
    background-color: #000;
    padding: 0 20px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.side-bar {
    display: flex;
    align-items: center;
}

/* style menu */
.menu > ul {
    display: flex;
}

.menu-item {
    font-size: 15px;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;

    position: relative;
    height: 60px;

    display: flex;
    align-items: center;
}

.menu-item > span {
    margin-left: 4px;
}

/* style submenu */
.sub-menu {
    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    background-color: #fff;
    position: absolute;
    top: 80%;
    right: 0;
    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-item {
    font-size: 15px;
    color: #464646c9;
    padding: 11px 16px;
    text-align: center;
}

.sub-menu-item:hover {
    background-color: #000;
    color: #fff;
}

.logo img {
    width: 120px;
}


.cart{
    display: flex;
    color: #fff;
    position: relative;
    margin-right: 30px;

}
 .icon{
    
    font-size: 16px;
    position: absolute;
    color: #464646;
    margin-left: 139px;
    
}
 .imput{

  

  
} 
.image{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;   
}
.body{
    display:flex ;
    
    margin: 20px;

}
.container{
    display: flex;
    
}
.container img{
    width: 100px;
    height: 100px;
    

}
.item{ 
    margin: 10px;
    line-height: 30px;
}
.item span{
    color: red;
    font-size: 20px;
}
   /* card */
   #card1{
    padding-top: 30px;          
}
#car1 .star{
display: flex;
justify-content: space-between;
}

#card1 img {
max-width: 100%;
display: block;
margin: auto;
height: 320px;
}
#card1 .card {
    
    width: 320px;
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
}
#card1 .content{
    padding: 16px;
}
#card1 .content h2 {
    font-size: 19px;
    font-weight: 400;
    color: #464646;
}
#card1 .content p{
    font-size: 14px;
    font-weight: 100;
    color: #757575;
}
#card1 .content p span {
    color: #464646; }

 #card1 .content .star{
     display: flex;
     justify-content: space-between;
 }

 #cardall{
     display: flex;
     justify-content: space-around;
 }
.messenger span{
    color: blue;
    font-size: 80px;
    display: flex;
    z-index: 3;
    margin-left: 1400px;
    

    
}
.messenger p{
    margin-left: 1400px;
    color: #464646;
}
.messenger {
    position: fixed;
    bottom: 100px;
    right: 10px;
    
}


/* ***footer* */
footer{
    display: flex;
    line-height: 2.5em;
    padding: 3rem 0;
    width: 1519px;
    justify-content: space-between;
   
    
}
#title{
  
    display: flex;
    background-color:#fff;
   justify-content: space-between;
}
h4{
    padding: 8px;
}

footer a {
    color: #000;
    text-decoration: none;
}

 ul.heading{
    
    list-style-type: none;
    margin: 30px;
    width: 320px;
    

}

 footer a:hover {
    text-decoration: underline;
  color: #919294;
}
ul, li {
    
  margin: 0;
  padding: 0 10px 0 10px

}
